[Dd]ebug/
[Oo]bj/
[Bb]in/
packages/
/Output/
.vscode/
.DS_Store
*.suo
*.DotSettings.user
*.csproj.user
*.DotSettings
Src/Zion/OPCAgentSetup/OPCAgentSetup/Express/
Src/Zion/Zion.SchedulerServiceSetup/Zion.SchedulerServiceSetup/Express/
Src/Zion/Zion.Web/Uploads
Src/Zion/Zion.Web/ClientSettings/ClientSettings.xml
Src/Zion/BuildAndRunAE.bat
/Src/Zion/Zion.Web/www
Src/Zion/.vs
/Src/Zion/Zion.sln.GhostDoc.xml
Src/Zion/.vs/config/applicationhost.config
Src/Zion/Zion.DomainModel/.vs

Src/ZionMobile/.vs
/Src/ZionMobile/Zion.App/bld/
/Src/ZionMobile/Zion.sln.GhostDoc.xml
Src/ZionMobile/.vs/config/applicationhost.config
/Src/ZionMobile/Zion.App.sln.GhostDoc.xml

.vs/
CommonBin/
UserBin/

*.scgdat

### Test Automation Specific Files ###
.idea/*
Src/Zion/ZionAdmin/ApiTests/.idea/*
!Src/Zion/ZionAdmin/ApiTests/.idea/runConfigurations
Src/Zion/Automation/.idea/*
!Src/Zion/Automation/.idea/runConfigurations
Src/Zion/Automation/node_modules/
Src/Zion/Automation/package-lock.json
Src/Zion/Automation/PageLoadTimes.log
Src/Zion/Automation/AE_UI_AUTO.log
Src/Zion/Automation/debug.log
Src/Zion/Automation/npm-debug.log*
Src/Zion/Automation/results
Src/Zion/Automation/reporters/

Src/Zion/UpgradeLog*
Src/Zion/log*
Src/Zion/ApiTests/.idea/*
!Src/Zion/ApiTests/.idea/runConfigurations
Src/Zion/ApiTests/node_modules/
Src/Zion/ApiTests/package-lock.json
Src/Zion/ApiTests/AE_API_AUTO.log
Src/Zion/ApiTests/results

Src/ZionMobile/Zion.App.userprefs
Src/ZionMobile/TestResult.xml
Src/ZionMobile/UIAutomation/TestResult.xml
*.favdoc
appSettings.config
Src/Zion/Zion.Web/npm-debug.log
Src/Zion/Zion.Web/Scripts/bundle/
Src/Zion/Zion.Web/App_Data/DocumentPreviewCache/
Src/Zion/Zion.Web/App_Data/Logs/